* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
}

.nombrePagina {
  font-size: 60px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.pregunta {
  font-size: 50px;
  text-decoration: underline;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.listaPc {
  font-size: 40px;
  font-weight: 600;
  margin: 30px;
  text-decoration: none;

}

.boton {
  color: #101316;
  position: relative;
  font-size: 1.5rem;
  width: 100px;
  height: 50px;
  top: 20px;
  margin: 10px;
}

.valor{
  height: 50px;
  width: 400px;
}

.divInput{
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.tarjetaPc{
  display: column;
  margin: 20px;
  min-height: 300px;
  min-width: 500px;
  justify-content: space-between;
}

.img{
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.noResultado{
  font-size: 40px;
  font-weight: 600;
  text-decoration: underline;
}

.precio{
  font-weight: 600;
  font-size: 30px;
}

.caracteristicas{
  font-size: 20px;
  font-weight: 600;
}

.divForm{
  position:static;
  float: right;
  text-align: right;
  margin: 40px;
  
}